Repository encryptedge/eeCTF, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, web, github-actions, github-meta, dependencies, readme

fix: merge fix
  packages/api/package.json
  packages/api/services/challenges.service.ts
  pnpm-lock.yaml
Labels: api, dependencies

feat: ctftime intigration
  packages/scorefeed/.env.example
  packages/scorefeed/.gitignore
  packages/scorefeed/codegen.yml
  packages/scorefeed/config/env.ts
  packages/scorefeed/controllers/ctftime.controller.ts
  packages/scorefeed/graphql/schema.graphql
  packages/scorefeed/graphql/types.ts
  packages/scorefeed/helpers/ctftimeClient.ts
  packages/scorefeed/helpers/gqlClient.ts
  packages/scorefeed/index.ts
  packages/scorefeed/libs/error.ts
  packages/scorefeed/libs/index.ts
  packages/scorefeed/libs/middleware.ts
  packages/scorefeed/libs/utilities.ts
  packages/scorefeed/package.json
  packages/scorefeed/routes/ctftime.routes.ts
  packages/scorefeed/routes/index.ts
  packages/scorefeed/scripts/fetch-schema.sh
  packages/scorefeed/scripts/init.sh
  packages/scorefeed/services/stats.service.ts
  packages/scorefeed/tsconfig.json
  packages/scorefeed/types/index.d.ts
  pnpm-lock.yaml
Labels: dependencies

feat: ctftime intigration
  tsconfig.json
Labels: none

fix: minor fixes
  .eslintignore
  apps/web/src/components/navbar.jsx
  apps/web/src/pages/app.jsx
  packages/api/.eslintignore
  packages/api/extras/cache.ts
  packages/api/graphql/types.ts
  packages/api/services/bans.service.ts
  packages/api/services/challenges.service.ts
  packages/scorefeed/.eslintignore
  packages/scorefeed/graphql/types.ts
  packages/scorefeed/helpers/ctftimeClient.ts
  turbo.json
Labels: api, web

fixes and ui change
  apps/web/src/components/cards/create-team-card.tsx
  apps/web/src/components/cards/join-team-card.tsx
  apps/web/src/components/cards/login-card.tsx
  apps/web/src/components/cards/register-card.tsx
  apps/web/src/components/challenge.jsx
  apps/web/src/pages/app.jsx
  apps/web/src/pages/home.jsx
  apps/web/src/pages/whoami.jsx
  apps/web/src/styles/App.css
  bootstrap.sh
Labels: web

updates
  apps/web/src/components/cards/create-team-card.tsx
  apps/web/src/components/cards/join-team-card.tsx
  apps/web/src/components/cards/register-card.tsx
  apps/web/src/main.jsx
  apps/web/src/pages/about.jsx
  apps/web/src/pages/app.jsx
  apps/web/src/pages/home.jsx
  apps/web/src/pages/leaderboard.jsx
  apps/web/src/pages/login.jsx
  apps/web/src/pages/news.jsx
  apps/web/src/pages/register.jsx
  apps/web/src/pages/verify.jsx
  apps/web/src/pages/whoami.jsx
Labels: web

int: UI integration
  apps/web/src/App.jsx
  apps/web/src/components/cards/create-team-card.tsx
  apps/web/src/components/cards/join-team-card.tsx
  apps/web/src/components/cards/login-card.tsx
  apps/web/src/components/cards/register-card.tsx
  apps/web/src/pages/login.jsx
  apps/web/src/pages/news.jsx
  apps/web/src/pages/register.jsx
  apps/web/src/pages/verify.jsx
  packages/api/services/stats.service.ts
Labels: api, web

fix: minor UI patch + NEWS api integration
  apps/web/src/App.jsx
  apps/web/src/components/news.jsx
  apps/web/src/pages/about.jsx
  apps/web/src/pages/app.jsx
  apps/web/src/pages/leaderboard.jsx
  apps/web/src/pages/news.jsx
  apps/web/src/pages/whoami.jsx
  apps/web/src/styles/App.css
  packages/api/config/env.ts
  packages/api/controllers/news.controller.ts
  packages/api/graphql/schema.graphql
  packages/api/graphql/types.ts
  packages/api/helpers/notifyNews.ts
  packages/api/index.ts
  packages/api/routes/index.ts
  packages/api/routes/news.routes.ts
  packages/api/services/news.service.ts
Labels: api, web

patch: ui fixes + content update
  apps/desktop/src-tauri/icons/ee128x128.png
  apps/desktop/src-tauri/icons/ee128x128_rgba.png
  apps/desktop/src-tauri/icons/ee256x256.png
  apps/desktop/src-tauri/icons/ee256x256_rgba.png
  apps/desktop/src-tauri/icons/ee64x64.png
  apps/desktop/src-tauri/icons/ee64x64_rgba.png
  apps/desktop/src-tauri/tauri.conf.json
  apps/web/package.json
  apps/web/src/components/challenge.jsx
  apps/web/src/components/navbar.jsx
  apps/web/src/components/news.jsx
  apps/web/src/pages/app.jsx
  packages/api/services/challenges.service.ts
  packages/api/types/index.d.ts
  pnpm-lock.yaml
Labels: api, web, dependencies

patch: ui fixes + content update
  packages/api/services/news.service.ts
Labels: api

patch: fix minor bug
  apps/web/src/components/challenge.jsx
Labels: web

.github/labeler.yml:

api:
- packages/api/**/*

cli:
- apps/cli/**/*

# discord:
# - apps/bot/**/*

web:
- apps/web/**/*

github-actions:
- .github/workflows/*

github-meta:
- .github/**/*

dependencies:
- package.json
- yarn.lock
- packages/*/package.json
- apps/*/package.json

readme:
- README.md
- apps/*/README.md
- packages/*/README.md
