Repository encryptedge/eeCTF, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, web, github-actions, github-meta, dependencies, readme

.github/labeler.yml:

api:
- packages/api/**/*

cli:
- apps/cli/**/*

# discord:
# - apps/bot/**/*

web:
- apps/web/**/*

github-actions:
- .github/workflows/*

github-meta:
- .github/**/*

dependencies:
- package.json
- yarn.lock
- packages/*/package.json
- apps/*/package.json

readme:
- README.md
- apps/*/README.md
- packages/*/README.md

feat: added challenge listing for teams
  packages/api/controllers/teams.controller.ts
  packages/api/routes/teams.routes.ts
  packages/api/services/teams.service.ts
  packages/api/types/index.d.ts
Labels: api

patch: service function migration
  packages/api/controllers/challenges.controller.ts
  packages/api/routes/challenges.routes.ts
  packages/api/services/challenges.service.ts
Labels: api

feat: minor fix for submission + leave/edit team feature
  packages/api/controllers/teams.controller.ts
  packages/api/routes/teams.routes.ts
  packages/api/routes/users.routes.ts
  packages/api/services/teams.service.ts
Labels: api

feat: stats and leaderboards
  packages/api/controllers/stats.controller.ts
  packages/api/routes/index.ts
  packages/api/routes/stats.routes.ts
  packages/api/services/stats.service.ts
  packages/api/types/index.d.ts
Labels: api

docs: update readme
  README.md
  static/postman.svg
Labels: readme

feat: added webclient for eectf
  apps/web/.eslintrc.cjs
  apps/web/.gitignore
  apps/web/README.md
  apps/web/index.html
  apps/web/jsconfig.json
  apps/web/package.json
  apps/web/public/Minecraft.woff2
  apps/web/public/MinecraftBold.woff2
  apps/web/public/ee.png
  apps/web/src/App.css
  apps/web/src/App.jsx
  apps/web/src/components/challenge.jsx
  apps/web/src/components/machine.jsx
  apps/web/src/components/navbar.jsx
  apps/web/src/index.css
  apps/web/src/main.jsx
  apps/web/src/pages/about.jsx
  apps/web/src/pages/app.jsx
  apps/web/src/pages/home.jsx
  apps/web/src/pages/leaderboard.jsx
  apps/web/src/pages/login.jsx
  apps/web/src/pages/register.jsx
  apps/web/src/pages/verify.jsx
  apps/web/src/pages/whoami.jsx
  apps/web/vite.config.js
Labels: web, dependencies, readme

chore(lint+prettier): ci fixes
  packages/api/controllers/challenges.controller.ts
  packages/api/controllers/stats.controller.ts
  packages/api/controllers/teams.controller.ts
  packages/api/controllers/users.controller.ts
  packages/api/extras/permissions.ts
  packages/api/graphql/types.ts
  packages/api/index.ts
  packages/api/middlewares/auth.middleware.ts
  packages/api/package.json
  packages/api/routes/challenges.routes.ts
  packages/api/routes/index.ts
  packages/api/routes/stats.routes.ts
  packages/api/routes/teams.routes.ts
  packages/api/routes/users.routes.ts
  packages/api/services/challenges.service.ts
  packages/api/services/stats.service.ts
  packages/api/services/teams.service.ts
  packages/api/services/users.service.ts
  yarn.lock
Labels: api, dependencies

Update README.md
  README.md
Labels: readme

added css styles to login form added new logo Improved form ui made home page responsive added animation in home page
  apps/web/public/ee.png
  apps/web/public/ee1.png
  apps/web/src/App.css
  apps/web/src/pages/home.jsx
  apps/web/src/pages/login.jsx
  apps/web/src/pages/register.jsx
Labels: web

made changes in whomi,challenge, added pixilaed borders , mchine
  apps/web/src/App.css
  apps/web/src/components/machine.jsx
  apps/web/src/pages/app.jsx
  apps/web/src/pages/whoami.jsx
Labels: web

feat: api auth crash issue
  apps/web/src/pages/app.jsx
  apps/web/src/pages/leaderboard.jsx
  apps/web/src/pages/whoami.jsx
Labels: web

feat: common api client
  apps/web/src/libs/api.client.js
  apps/web/src/pages/app.jsx
  apps/web/src/pages/leaderboard.jsx
  apps/web/src/pages/login.jsx
  apps/web/src/pages/register.jsx
  apps/web/src/pages/verify.jsx
  apps/web/src/pages/whoami.jsx
Labels: web

added new navbar design and added news section
  .eslintrc
  apps/web/jsconfig.json
  apps/web/src/App.jsx
  apps/web/src/components/navbar.jsx
  apps/web/src/index.css
  apps/web/src/main.jsx
  apps/web/src/pages/app.jsx
  apps/web/src/pages/home.jsx
  apps/web/src/pages/leaderboard.jsx
  apps/web/src/pages/login.jsx
  apps/web/src/pages/news.jsx
  apps/web/src/pages/register.jsx
  apps/web/src/pages/verify.jsx
  apps/web/src/pages/whoami.jsx
  apps/web/src/styles/App.css
  apps/web/src/styles/logo.styles.css
  apps/web/src/styles/navbar.styles.css
Labels: web

added new who am i layout
  apps/web/src/index.css
  apps/web/src/pages/app.jsx
  apps/web/src/pages/whoami.jsx
  apps/web/src/styles/App.css
  apps/web/src/styles/whoami.styles.css
Labels: web

changed redirect to home when auth invalid
  apps/web/src/pages/about.jsx
  apps/web/src/pages/app.jsx
  apps/web/src/pages/leaderboard.jsx
  apps/web/src/pages/news.jsx
  apps/web/src/pages/verify.jsx
  apps/web/src/pages/whoami.jsx
  apps/web/src/styles/App.css
  apps/web/src/styles/navbar.styles.css
Labels: web

added user state in home route
  apps/web/src/components/cards/login-card.tsx
  apps/web/src/components/cards/register-card.tsx
  apps/web/src/pages/home.jsx
Labels: web

added player name in greeting
  apps/web/src/pages/home.jsx
Labels: web

added base cards for auth in home
  apps/web/src/components/cards/login-card.tsx
  apps/web/src/components/cards/register-card.tsx
  apps/web/src/pages/home.jsx
  apps/web/src/styles/home.styles.css
Labels: web

feat: Added Desktop Client Release
  packages/deployer-url/.gitignore
  packages/deployer-url/config.json
Labels: none

fix: turbo subcommand not found
  package.json
Labels: dependencies

fix: src/main.rs not found
  apps/desktop/src-tauri/Cargo.toml
Labels: none

fix: nvm
  .github/workflows/build-client.yaml
Labels: github-actions, github-meta

fix: fixing rust target + cross-env added to fix windows issue
  apps/desktop/src-tauri/Cargo.toml
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Labels: web, dependencies

fix: tauri build issues
  .gitignore
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  apps/desktop/.gitignore
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  scripts/build-client.sh
Labels: none

ci: minor patch
  .github/workflows/build-client.yaml
Labels: github-actions, github-meta

ci: minor patch
  .github/workflows/build-client.yaml
Labels: github-actions, github-meta

ci: minor patch
  .github/workflows/build-client.yaml
Labels: github-actions, github-meta

patch: feat enhancement + bug fixes
  .github/actions/setup/action.yml
  .github/workflows/build-client.yaml
  .github/workflows/build.yaml
  apps/web/package.json
  apps/web/src/libs/api.client.js
  apps/web/src/pages/about.jsx
  bootstrap.sh
  packages/deployer-url/.gitignore
  packages/deployer-url/config.json
  packages/deployer-url/entrypoint.js
  packages/deployer-url/index.js
  packages/deployer-url/package.json
  scripts/build-client.sh
  tsconfig.json
Labels: web, github-actions, github-meta, dependencies

[ImgBot] Optimize images
  apps/desktop/src-tauri/icons/128x128.png
  apps/desktop/src-tauri/icons/128x128@2x.png
  apps/desktop/src-tauri/icons/32x32.png
  apps/desktop/src-tauri/icons/Square107x107Logo.png
  apps/desktop/src-tauri/icons/Square142x142Logo.png
  apps/desktop/src-tauri/icons/Square150x150Logo.png
  apps/desktop/src-tauri/icons/Square284x284Logo.png
  apps/desktop/src-tauri/icons/Square30x30Logo.png
  apps/desktop/src-tauri/icons/Square310x310Logo.png
  apps/desktop/src-tauri/icons/Square44x44Logo.png
  apps/desktop/src-tauri/icons/Square71x71Logo.png
  apps/desktop/src-tauri/icons/Square89x89Logo.png
  apps/desktop/src-tauri/icons/StoreLogo.png
  apps/desktop/src-tauri/icons/icon.png
  apps/web/public/ee.png
  apps/web/public/ee1.png
  static/postman.svg
Labels: web

add: challenges controller response status
  packages/api/controllers/challenges.controller.ts
Labels: api

Handle error message based on condition in ChallengeController
  packages/api/controllers/challenges.controller.ts
Labels: api

Refactor error handling in controllers
  packages/api/controllers/stats.controller.ts
  packages/api/controllers/teams.controller.ts
Labels: api

Refactor error handling in UserController
  packages/api/controllers/users.controller.ts
Labels: api

Add: status code to remaining routes
  packages/api/routes/index.ts
Labels: api

Refactor error handling in middleware and controllers
  packages/api/controllers/challenges.controller.ts
  packages/api/controllers/stats.controller.ts
  packages/api/controllers/teams.controller.ts
  packages/api/controllers/users.controller.ts
  packages/api/middlewares/auth.middleware.ts
Labels: api

fixed a lot of api response body
  packages/api/controllers/challenges.controller.ts
  packages/api/controllers/stats.controller.ts
  packages/api/controllers/teams.controller.ts
  packages/api/controllers/users.controller.ts
  packages/api/middlewares/auth.middleware.ts
Labels: api

Update error messages in controllers
  packages/api/controllers/challenges.controller.ts
  packages/api/controllers/stats.controller.ts
  packages/api/controllers/teams.controller.ts
  packages/api/controllers/users.controller.ts
Labels: api

feat: added depends + ip logging
  apps/desktop/package.json
  packages/api/config/env.ts
  packages/api/extras/cache.ts
  packages/api/graphql/schema.graphql
  packages/api/graphql/types.ts
  packages/api/index.ts
  packages/api/middlewares/checkip.middleware.ts
  packages/api/package.json
  packages/api/services/bans.service.ts
  packages/api/services/challenges.service.ts
  packages/api/types/index.d.ts
  pnpm-lock.yaml
Labels: api, dependencies

fix: ci build fix
  packages/api/middlewares/checkip.middleware.ts
Labels: api

feat: added first blood notifications to discord
  apps/desktop/package.json
  packages/api/config/env.ts
  packages/api/helpers/notifyBlood.ts
  packages/api/services/challenges.service.ts
Labels: api, dependencies
