Repository encryptedge/eeCTF, pull requests merged in 2024-01, with the labels that each got.

#7 feat: api auth crash issue
  apps/web/src/pages/app.jsx
  apps/web/src/pages/leaderboard.jsx
  apps/web/src/pages/whoami.jsx
Labels: web

#8 feat: common api client
  apps/web/src/libs/api.client.js
  apps/web/src/pages/app.jsx
  apps/web/src/pages/leaderboard.jsx
  apps/web/src/pages/login.jsx
  apps/web/src/pages/register.jsx
  apps/web/src/pages/verify.jsx
  apps/web/src/pages/whoami.jsx
Labels: web

#9 Feat/desktop client
  .github/actions/setup/action.yml
  .github/workflows/build-client.yaml
  .github/workflows/build.yaml
  .github/workflows/todo.yaml
  .vscode/extensions.json
  apps/desktop/.gitignore
  apps/desktop/README.md
  apps/desktop/package.json
  apps/desktop/src-tauri/.gitignore
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/build.rs
  apps/desktop/src-tauri/icons/128x128.png
  apps/desktop/src-tauri/icons/128x128@2x.png
  apps/desktop/src-tauri/icons/32x32.png
  apps/desktop/src-tauri/icons/Square107x107Logo.png
  apps/desktop/src-tauri/icons/Square142x142Logo.png
  apps/desktop/src-tauri/icons/Square150x150Logo.png
  apps/desktop/src-tauri/icons/Square284x284Logo.png
  apps/desktop/src-tauri/icons/Square30x30Logo.png
  apps/desktop/src-tauri/icons/Square310x310Logo.png
  apps/desktop/src-tauri/icons/Square44x44Logo.png
  apps/desktop/src-tauri/icons/Square71x71Logo.png
  apps/desktop/src-tauri/icons/Square89x89Logo.png
  apps/desktop/src-tauri/icons/StoreLogo.png
  apps/desktop/src-tauri/icons/icon.icns
  apps/desktop/src-tauri/icons/icon.ico
  apps/desktop/src-tauri/icons/icon.png
  apps/desktop/src-tauri/tauri.conf.json
  apps/web/package.json
  apps/web/src/libs/api.client.js
  apps/web/src/pages/whoami.jsx
  package.json
  packages/deployer-url/.gitignore
  packages/deployer-url/config.json
  packages/deployer-url/entrypoint.js
  packages/deployer-url/index.js
  packages/deployer-url/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build-client.sh
  turbo.json
  yarn.lock
Labels: web, github-actions, github-meta, dependencies, readme

#10 feat/desktop client
  .github/actions/setup/action.yml
  .github/workflows/build-client.yaml
  .github/workflows/build.yaml
  .gitignore
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  apps/desktop/.gitignore
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/web/package.json
  apps/web/src/libs/api.client.js
  apps/web/src/pages/about.jsx
  bootstrap.sh
  package.json
  packages/deployer-url/.gitignore
  packages/deployer-url/config.json
  packages/deployer-url/entrypoint.js
  packages/deployer-url/index.js
  packages/deployer-url/package.json
  pnpm-lock.yaml
  scripts/build-client.sh
  tsconfig.json
Labels: web, github-actions, github-meta, dependencies

#15 feat: added depends + ip logging
  apps/desktop/package.json
  packages/api/config/env.ts
  packages/api/extras/cache.ts
  packages/api/graphql/schema.graphql
  packages/api/graphql/types.ts
  packages/api/index.ts
  packages/api/middlewares/checkip.middleware.ts
  packages/api/package.json
  packages/api/services/bans.service.ts
  packages/api/services/challenges.service.ts
  packages/api/types/index.d.ts
  pnpm-lock.yaml
Labels: api, dependencies

#14 Update error messages in controllers
  packages/api/controllers/challenges.controller.ts
  packages/api/controllers/stats.controller.ts
  packages/api/controllers/teams.controller.ts
  packages/api/controllers/users.controller.ts
Labels: api

#16 feat: added first blood notifications to discord
  packages/api/config/env.ts
  packages/api/helpers/notifyBlood.ts
  packages/api/package.json
  packages/api/services/challenges.service.ts
  pnpm-lock.yaml
Labels: api, dependencies
